<!--<div class="row">
  <div class="col-sm-6 col-md-4">
    <poke-thumbnail [imageUrl]="pokeAImage">
      <h3>venusaur</h3>
      <p><strong>Order:</strong>1000</p>
      <p><strong>Weight:</strong>1000</p>
      <p><strong>Base Experience:</strong>234</p>
      <p><strong>Height:</strong>20</p>
      <p><button class="btn btn-danger">Release</button></p>
    </poke-thumbnail>
  </div>
</div>-->

<button>oasidfoaisdjf</button>

<poke-button>Release me!</poke-button>
<poke-button>blah!!!</poke-button>
<poke-button><div>blah</div> <div>aosdfij</div></poke-button>


<poke-button-2 text="'<div>hello</div>'"></poke-button-2>